<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType">
<stringAttribute key="attr_app_arguments" value="conf"/>
<stringAttribute key="attr_app_path" value="${workspace_loc:/JavascriptTestCase/protractor/built/cli.js}"/>
<stringAttribute key="attr_app_project" value="JavascriptTestCase"/>
<stringAttribute key="attr_node_arguments" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavascriptTestCase"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
